<!DOCTYPE html>
<html>
<head>
<title>Avaron Game</title>
{% load static %}
<link href="{% static 'avaron/lobby.css' %}" rel="stylesheet" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<p><montserratb>ERR....</montserratb></p>
	<p><montserratb>TRY TO PROPERLY JOIN/CREATE A GAME THROUGH LOBBY BUTTONS</montserratb></p>
</body>
<form action = "{% url 'avaron:home' %}" method="post">
{% csrf_token %}
<input type="submit" value="back to lobby">
</form>
</html>