<!DOCTYPE html>
<html>
<head>
<title>Avaron Game</title>
{% load static %}
<link href="{% static 'avaron/lobby.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<p><montserratb>Players in game {{ game }}:</montserratb></p>
    <ul>
    {% for player in players %}
        <montserrat><whiteC>-{{ player.name }} </whiteC></montserrat><p>
    {% endfor %}
    </ul>
</body>
<input type="button" value="Refresh player list" onClick="window.location.reload()">
<form action = "{% url 'avaron:start_game' game 1 %}" method="post">
{% csrf_token %}
<input type="submit" value="start game">
<p></p>
</form>
<form action = "{% url 'avaron:home' %}" method="post">
{% csrf_token %}
<input type="submit" value="back to lobby">
</form>
</html>
