<!DOCTYPE html>
<html>
<head>
<title>Avaron Game</title>
</head>
<body>
	<p>This is the Avaron™ Game Lobby</p>
	{% if latest_game_list %}
    <ul>
    {% for game in latest_game_list %}
        <li><a href="{% url 'avaron:game_room' game.room_num %}">Game: {{ game.room_num }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
    <p>No games exist.</p>
{% endif %}
<form action = "make_player/" method="post">
{% csrf_token %}
<table>
{{ form }}
</table>
Player Name: <input id="player_name" type="text" name="player_field"><p>
Game Number: <input id="game_num" type="text" name="game_field"><p>
<input type="submit" value="Join Game">
</form>
</body>
</html>