<!DOCTYPE html>
<html>
<head>
<title>Avaron Game</title>
{% load static %}
<link href="{% static 'avaron/lobby.css' %}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"/></script>
<script src="{% static 'avaron/main.js' %}" type="text/javascript"/></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<h1><montserratb>AVARON GAME LOBBY</montserratb></h1>
	<p class = "bottomspace2">
	{% if latest_game_list %}
    {% for game in latest_game_list %}
        <li><a href="{% url 'avaron:game_room' game.room_num %}"><montserrat>game: {{ game.room_num }}</montserrat></a></li>
    {% endfor %}
	{% else %}</p>
    <p><montserrat>No games exist.</montserrat></p>
{% endif %}
<p class = "bottomspace">
<form method="post" onsubmit="myButton.disabled = true; return true;">
{% csrf_token %}
<montserrat><whiteC><h1>player name</h1></whiteC></montserrat>
<p><input id="player_name" type="text" name="player_field"></p>
<montserrat><whiteC><h1>game code</h1></whiteC></montserrat>
<p><input id="game_num" type="text" name="game_field"></p>
<input class="btn btn-primary" type="submit" id="join" value="join game">
</form></p>

<p class = "bottomspace">
<form action = "make_game/" method="post" onsubmit="myButton.disabled = true; return true;">
{% csrf_token %}
<montserrat><whiteC><h1>player name</h1></whiteC></montserrat>
<p><input id="player_name" type="text" name="player_field"></p>
<input type="submit" value="create game">
</form></p>
</body>
</html>