<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Avaron Game</title>
  {% load static %}
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
  <link href="{% static 'avaron/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'avaron/skeleton.css' %}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"/></script>
  <script src="{% static 'avaron/main.js' %}?v=00001" type="text/javascript"/></script>
</head>

<body>
	{% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two" style="margin-top: 3%">
        <h4 class="bigcenter">AVARON GAME LOBBY</h4>
      </div>
    </div>
  </div>

  <div class="container">
  	<div class="row" id="games">
  		<div class="four columns offset-by-four" style="margin-top:3%">
        <p style="text-align: center">Open Games:</p>
        <ul id="openGames" class="openGamesC">   
        </ul>
  		</div>
  	</div>
  </div>

  <div class="container">
  	<div class="row">
  		<div class="six columns offset-by-three" style="margin-top: 3%">
  			<div class="cardb">
  				<form method="post" onsubmit="myButton.disabled = true; return true;">
  					<h1>player name</h1>
  					<input id="player_name" type="text" name="player_field">
  					<h1>game code</h1>
  					<input id="game_num" type="text" name="game_field"><br>
  					<input class="button-primary" type="submit" id="join" value="join game">
  				</form>
          <p id="JoinError" style="color: #ef3245"></p>
  			</div>
  		</div>
  	</div>
  	<br>
  	<div class="row">
  		<div class="six columns offset-by-three" style="margin-top: 3%">
  			<div class="cardr">
  				<form method="post" onsubmit="myButton.disabled = true; return true;">
					<h1>player name</h1>
					<input id="player_nameC" type="text" name="player_field"><br>
  					<input class="button-primary" type="submit" value="create game" id="red">
  				</form>
  			</div>
  		</div>
  	</div>
  </div>
  <br><br><br>
  <section class="footer">
    <div class="row">
      <div class="twelve columns" style="margin-top: 1%">
        <p><br><br>2017 Avaron</p>
      </div>
    </div>
  </section>

</body>
</html>
