<!DOCTYPE html>
<html>
<head>
<title>Avaron Game</title>
{% load static %}
<link href="{% static 'avaron/lobby.css' %}" rel="stylesheet" type="text/css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<p><montserratb>Round Number {{ round_num }}:</montserratb></p>
<!--     <ul>
    {% for player in players %}
        <montserrat><whiteC>-{{ player.name }} Role: {{ player.role }} </whiteC></montserrat><p>
    {% endfor %}
    </ul> -->
    <p><montserrat>You: {{ your_guy.name }}</montserrat></p>
    <montserrat><p>~~~~~~~~~~~~</p></montserrat><p></p>
    {% if your_guy.role %}
    	<montserrat>You are a Good Guy!</montserrat>
    {% else %}
    	<montserrat><p>Bad Guys:</p></montserrat>
    	{% for player in players %}
        	{% if player.role %}
        	{% else %}
        		<montserrat><p>{{ player.name }}</p></montserrat>
        	{% endif %}
    	{% endfor %}
    {% endif %}
</body>

<form action = "{% url 'avaron:home' %}" method="post">
{% csrf_token %}
<input type="submit" value="back to lobby">
</form>
</html>